body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: lightcoral;
}

a {
    color: rgb(27, 27, 238);
}

button {
    background-color: lightblue;
    border-color: lightblue;
}
